nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 72px;
  align-items: center;
}
.navbar {
  max-width: 1280;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  font-weight: 1000;
  gap: 24px;
  font-size: 20px;
}

.logo {
  font-weight: 100;
}
.containt {
  max-width: 1280px;
  margin: 0 auto;
}
.containt h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 80%;
}
.containt p {
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 40px;
  align-items: end;
}
.top-btn {
  display: flex;
  gap: 32px;
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_container input {
  height: 40px;
  padding: 0 8px;
}
.form_container label {
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

.main-container {
  display: flex;
  height: calc(100vh -72px);
  justify-content: end;
  flex-direction: column;
}
