nav {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  height: 72px;
  align-items: center;
}
.navbar {
  max-width: 1280;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  font-weight: 1000;
  gap: 24px;
  font-size: 20px;
}

.logo {
  font-weight: 100;
}
.containt {
  max-width: 1280px;
  margin: 0 auto;
}
.containt h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 80%;
}
.containt p {
  font-weight: 500;
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}
.top-btn {
  display: flex;
  gap: 32px;
}
